<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-error.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/platinum-sw/platinum-sw-elements.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../../bower_components/login-fire/login-fire.html">


<dom-module id="login-form">
    <template>
        <style is="custom-style" include="iron-flex iron-positioning"></style>
        <style>
            :host {
                white-space: nowrap;
            }

            #passwordDecorator {
                display: block;
                margin-bottom: 16px;
            }

            paper-checkbox {
                margin-right: 8px;
            }

            paper-button {
                margin-left: 72px;
            }

            .interact {
                height: 125px;
            }

            #validatebox {
                margin-top: 16px;
                text-align: center;
            }

            .validatemessage {
                margin-top: 10px;
            }

            .logo {
                height: auto;
                width: auto;
                max-width: 30%;
                max-height: 30%;
                min-width: 300px;
            }
        </style>
        <firebase-app name="domo"
                      api-key="AIzaSyAndgWo_bp_0uffEWt1y1ytZfrFdKuQxTQ"
                      auth-domain="cineq-page.firebaseapp.com"
                      database-url="https://cineq-page.firebaseio.com">
        </firebase-app>
        <div class="layout vertical center center-center fit" hidden$="{{signedInn}}">
            <img src='../../img/Domo.png' class='logo'></img>
            <a href="#" id="hideKeyboardOnFocus"></a>
            <div class='interact'>
                <div id="validatebox">
                    <paper-spinner active="true"></paper-spinner>
                    <div id="logomessage" class="validatemessage">{{spinnerinfo}}</div>
                </div>
            </div>
            <login-fire google
                        facebook
                        mini
                        debug
                        signed-in="{{signedInn}}"
                        app-name="domo">
            </login-fire>
            <template is='dom-if' if="[[signedInn]]">
                <p>Signed In</p>
            </template>
            <template is='dom-if' if="{{!signedInn}}">
                <p>Signed Out</p>
            </template>
        </div>
    </template>
</dom-module>
<script>
      Polymer({
          is: 'login-form',

          properties: {
              spinnerinfo: {
                  type: String,
                  notify: true,
              },

              signedInn: {
                  type: Boolean,
                  notify: true,
              }
          },

          ready: function () {
              console.log("Login form ready");
              console.log(this.signedInn);
          },

          isSignedIn: function (signed) {
              return signed;
          },
      });
</script>



